@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
li {
    list-style: none;
}
/*****************************************************************/
body {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 14px;
    position: relative;
}
.content {
    width: 1140px;
    /*max-width: 1140px;*/
    padding: 0 20px;
    margin: auto;
}
.clear-fix:after {
    content: '';
    clear: both;
    display: block;
}
h3 {
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-top: 118px;
    margin-bottom: 45px;
}
/*****************************************************************/

.logo {
    padding-top: 35px;
    float: left;
}
.menu {
    float: right;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    color: #ffffff;
    padding: 35px 25px 25px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
    display: block;
    font-size: 18px;
}
.menu ul li a:hover {
    text-decoration: underline;
}

/*Section-1*/
#section-1 {
    position: relative;
}
#section-1 header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
#section-1 .shadow {
    background: url("../images/shadow-first-screen.png")repeat-x top center;
    width: 100%;
    height: 168px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#section-1 .menu ul li a.active {
    background: #74c7d5;
}
.slider-text {
    color: #74c7d5;
    background: rgba(255,255,255,.3);
    top: 0;
    left: 0;
    position: absolute;
    padding: 0 40px;
}
.slider-text > div {
    display: inline-block;
    vertical-align: middle;
}
.slider-text-1 p {
    font-size: 60px;
    font-weight: 300;
    text-align: right;
    line-height: 1;
}
.slider-text-2 h2 {
    font-size: 138px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}
/*Section-1 end*/


/*Section-2*/
#section-2 {
    background: url("../images/bg-section-2.jpg")no-repeat center;
    background-size: cover;
    padding-bottom: 125px;
}
#section-2 p {
    color: #ffcccf;
}
#section-2 .menu ul li a.active {
    background: #df5c64;
}
h5 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 25px;
}
h5 span {
    color: #ec9da2;
}
.section-description {
    text-align: center;
    line-height: 22px;
}
.services {
    margin-top: 120px;
    font-size: 0;
}
.service {
    width: 260px;
    min-height: 400px;
    background: #c8535a;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0 25px;
    margin-left: 20px;
    font-size: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 22px;
}
.service:first-child {
    margin-left: 0;
}
.circle {
    background: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 140px;
    height: 140px;
    margin: 44px auto 29px;
    display: inline-block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.circle:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}
.circle-img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    margin: 5px auto;
    border: 5px solid #c8535a;
}
h4 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 25px;
}
/*Section-2 end*/


/*Section-3*/
#section-3 {
    background: url("../images/bg-section-3.jpg")no-repeat center;
    background-size: cover;
    padding-bottom: 110px;
}
#section-3 p {
    color: #e5d1e3;
}
#section-3 .menu ul li a.active {
    background: #91778e;
}
.meet-the-team {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #a1ca6c;
    margin-top: 60px;
    display: inline-block;
    position: relative;
}
.meet-the-team:after {
    position: absolute;
    content: '';
    background: url("../images/meet-team.png")no-repeat center;
    width: 30px;
    height: 15px;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: auto;
}
#section-3 .meet-the-team p {
    color: #fff;
    line-height: normal;
}
.text-center {
    text-align: center;
}
.team {
    margin-top: 70px;
    font-size: 0;
}
.member-of-team {
    display: inline-block;
    width: 260px;
    min-height: 380px;
    margin-left: 20px;
    background: rgba(76,63,75,.5);
    text-align: center;
    padding-bottom: 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.member-of-team:hover {
    transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}
.member-of-team:first-child {
    margin-left: 0;
}
.photo-circle {
    background: #a1859e;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 164px;
    height: 164px;
    margin: 44px auto 29px;
    display: inline-block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.photo-circle:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}
.photo {
    width: 154px;
    height: 154px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #ffffff;
    margin: 5px auto;
}
#section-3 .member-name p {
    font-size: 25px;
    color: #c7b6c5;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#section-3 .member-post p {
    color: #a1ca6c;
    font-size: 14px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.member-social {
    margin-top: 40px;
}
.member-social a {
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: #a1859e;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 10px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.member-social a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.photo-circle-hover {
    background: #df5c64;
}
.member-social a.facebook-ico-hover {
    background: #4f689e;
}
.member-social a.twitter-ico-hover {
    background: #74c7d5;
}
.member-social a.google-plus-ico-hover {
    background: #df5c64;
}
.member-social a.linkedin-ico-hover {
    background: #3e61af;
}
#section-3 .member-post.member-post-hover p {
    color: #ff8973;
}
#section-3 .member-name.member-name-hover p {
    color: #ffffff;
}
/*Section-3 end*/


/*Section-4*/
#section-4 {
    background: url("../images/bg-section-4.jpg")no-repeat center;
    background-size: cover;
    padding-bottom: 90px;
}
#section-4 .menu ul li a.active {
    background: #a1ca6c;
}
.portfolio-header {
    border-top: 1px solid #94b963;
    border-bottom: 1px solid #94b963;
    margin-top: 60px;
    padding: 32px 20px;
}
.portfolio-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}
.portfolio-menu {
    float: right;
}
.portfolio-menu ul li {
    display: inline-block;
    padding: 0 20px;
}
.portfolio-menu ul li a {
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.portfolio-menu ul li a:hover {
    text-decoration: underline;
}
.portfolio-menu ul li a.active {
    background: #f5c149;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.portfolio {
    margin-top: 47px;
    font-size: 0;
}
.example {
    width: 260px;
    height: 250px;
    display: inline-block;
    margin-left: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
}
.example:nth-child(4n+1) {
    margin-left: 0;
}
.example-photo {
    height: 200px;
    width: 100%;
}
.example-description {
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 0 20px;
    color: #727272;
    font-size: 14px;
    line-height: 50px;
    background: #eeeeee;
    position: relative;
    text-transform: uppercase;
}
.example-description p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.example-description:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -18px;
    margin: auto;
    background: url("../images/portfolio-arrow.png")no-repeat center;
    width: 35px;
    height: 18px;
}
/*Section-4 end*/


/*Section-5*/
#section-5 {
    background: url("../images/bg-section-5.jpg")no-repeat center;
    background-size: cover;
    padding-bottom: 80px;
}
#section-5 .menu ul li a.active {
    background: #82c8bd;
}
.contact {
    margin-top: 120px;
}
.contact-column {
    width: 100%;
    max-width: 540px;
    float: left;
}
.contact-column p {
    font-size: 16px;
}
.contact-column-left {
    margin-right: 20px;
}
.column-title p {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}
h6 {
    font-weight: bold;
    font-size: 20px;
    color: #c0dfda;
    margin-bottom: 15px;
}
.contact-phone {
    margin-top: 70px;
}
.contact-phone span {
    color: #d0efea;
    min-width: 80px;
    display: inline-block;
}
.contact-phone a {
    color: #ffffff;
}
.contact-phone a:hover {
    text-decoration: underline;
}
.contacts {
    float: left;
    max-width: 270px;
}
#map {
    width: 260px;
    height: 220px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: right;
}
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}
.contact-form input[type=text], .contact-form input[type=email]{
    width: 48%;
    margin-bottom: 20px;
}
.contact-form input[type=text] {
    float: left;
}
.contact-form input[type=email] {
    float: right;
}
.contact-form textarea{
    width: 100%;
    resize: none;
    height: 152px;
}
.contact-form input[type=text], .contact-form input[type=email], .contact-form textarea {
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 15px 20px;
    background: #68a097;
    font-size: 16px;
    color: #82c8bd;
    font-family: 'Lato', sans-serif;
}

.contact-form input::-webkit-input-placeholder {color: #82c8bd;}
.contact-form input::-moz-placeholder     {color: #82c8bd;}
.contact-form input:-moz-placeholder      {color: #82c8bd;}
.contact-form input:-ms-input-placeholder {color: #82c8bd;}

.contact-form textarea::-webkit-input-placeholder {color: #82c8bd;}
.contact-form textarea::-moz-placeholder     {color: #82c8bd;}
.contact-form textarea:-moz-placeholder      {color: #82c8bd;}
.contact-form textarea:-ms-input-placeholder {color: #82c8bd;}

.contact-form input[type=text]:focus, .contact-form input[type=email]:focus, .contact-form textarea:focus {
    background: #ffffff;
    color: #b5b5b5;
}

.contact-form input:focus::-webkit-input-placeholder {color: transparent}
.contact-form input:focus::-moz-placeholder          {color: transparent}
.contact-form input:focus:-moz-placeholder           {color: transparent}
.contact-form input:focus:-ms-input-placeholder      {color: transparent}

.contact-form textarea:focus::-webkit-input-placeholder {color: transparent}
.contact-form textarea:focus::-moz-placeholder          {color: transparent}
.contact-form textarea:focus:-moz-placeholder           {color: transparent}
.contact-form textarea:focus:-ms-input-placeholder      {color: transparent}

.contact-form input[type=submit] {
    background: #df5c64;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 15px 90px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: bold;
    box-shadow: inset 0 -4px 0 #c8535a;
    margin-top: 30px;
}
.contact-form input[type=submit]:hover {
    cursor: pointer;
}
.contact-form input[type=submit]:active {
    box-shadow: inset 0 4px 0 #c8535a;
}
/*Section-5 end*/

/*Footer*/
footer {
    background: #68a097;
    padding: 40px 0;
    text-align: center;
}
footer a {
    font-size: 32px;
    color: #ffffff;
    display: inline-block;
    margin: 0 20px;
    background: #82c8bd;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
footer a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}
footer a.facebook-ico:hover {background: #4f689e;}
footer a.twitter-ico:hover {background: #74c7d5;}
footer a.google-plus-ico:hover {background: #df5c64;}
footer a.linkedin-ico:hover {background: #3e61af;}
/*Footer end*/


#section-2, #section-3, #section-4, #section-5 {
    /*display: none;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
}























